<div class="col-md-6 col-md-offset-3" ng-controller="registerController">
    <h2>Register</h2>
    <form name="form" ng-submit="register()" role="form">
        <!-- <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
            <label for="username">First name</label>
            <input type="text" name="firstName" id="firstName" class="form-control" ng-model="user.firstName" required />
            <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
            <label for="username">Last name</label>
            <input type="text" name="lastName" id="Text1" class="form-control" ng-model="user.lastName" required />
            <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
        </div> -->
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="username" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-primary">Register</button>
            <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a href="#!/login" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>


<!-- <!DOCTYPE html>
<html>
<head> -->
  <!-- Bootstrap Core CSS -->
  	<!-- <link href="../assets/css/bootstrap.css" rel="stylesheet"> -->

   <!-- Custom CSS -->
    <!-- <link href="../assets/css/custom.css" rel="stylesheet"> -->


<!-- </head>
<body ng-controller="registerController" style="background-color:#000000; position:centre">
	<div style="color:#FFFFFF; text-align:center; margin-top:5%">
		<h2>Registering ..</h2>
	</div>
	<div class="list list-inset" style="width:100%; height:100%; position:centre; vertical-align:middle; text-align:center; margin-bottom:5%; margin-top:5%">
		<label class="item item-input item-floating-label hvr-underline-from-left"
      style="width:100%;">
        <span class="input-label" style="color:#FFFFFF; margin-right:5%">
        <i class="icon ion-person"></i> Username </span>
          <input id="inputField" type="text" placeholder="Username" maxlength="30"
          ng-model="info.fn" >
      </label>

      <label class="item item-input item-floating-label hvr-underline-from-left"
      style="width:100%;">
        <span class="input-label" style="color:#FFFFFF; margin-right:7%">
        <i class="icon ion-person"></i> Email </span>
          <input id="inputField" type="email" placeholder="Email"
          ng-model="info.fn" >
      </label>

      <label class="item item-input item-floating-label hvr-underline-from-left" style="width:100%;">
        <span class="input-label" style="color:#FFFFFF; margin-right:5%">
        <i class="icon ion-person"></i> Password</span>
          <input id="inputField" type="password" placeholder="Password" required autocomplete="off"
          ng-model="info.ln">
       </label>

       <label class="item item-input item-floating-label hvr-underline-from-left" style="width:100%;">
        <span class="input-label" style="color:#FFFFFF; margin-right:1%">
        <i class="icon ion-person"></i> Confirm Password</span>
          <input id="inputField" type="password" placeholder="Confirm Password" required autocomplete="off">
       </label>
	   <button type="button" class="btn" style="width:120px; margin-top: 5%; font-weight:bold"> Register </button>
	</div>
</body>
</html> -->
